@import "@styles/variable.scss";

.form {
    height: 100%;
    display: flex;
    gap: 24px;

    @media (max-width: 992px) {
        gap: 18px;
    }

    @media (max-width: 768px) {
        gap: 5px;
    }

    &__input {
        border: 3px solid $main-color;
        border-radius: 10px;
        box-sizing: border-box;
        height: 70px;
        padding: 23px 24px;
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        flex-grow: 2;
        text-overflow: ellipsis;

        @media (max-width: 992px) {
            height: 51px;
            padding: 23px 24px;
            font-size: 15px;
            line-height: 18px;
        }

        @media (max-width: 768px) {
            height: 51px;
            padding: 23px 5px;
        }

        &::placeholder {
            color: $placeholder-color;
        }

    }

    &__button {
        background: $main-color;
        border-radius: 10px;
        border: none;
        box-sizing: border-box;
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 19px 40px;
        cursor: pointer;

        @media (max-width: 992px) {
            padding: 14px 30px;
            gap: 12px;
        }

        @media (max-width: 768px) {
            & p {
                display: none;
            }
        }

        @media (max-width: 567px) {
            padding: 14px 20px;
        }


        & svg {
            fill: $white;
            width: 32px;
            height: 32px;

            @media (max-width: 992px) {
                width: 25px;
                height: 25px;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: $white;

        @media (max-width: 992px) {
            font-size: 20px;
            line-height: 25px;
        }
    }

    &__error {
        color: red;
    }
}