@import "@styles/variable.scss";

.search {

    & .form {
        padding: 0px 32px;
        margin-bottom: 22px;

        @media (max-width: 768px) {
            padding: 0px 15px;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: $text-color;
        margin-bottom: 16px;
        padding: 0px 32px;

        @media (max-width: 992px) {
            font-size: 20px;
            line-height: 35px;
        }

        @media (max-width: 768px) {
            padding: 0px 15px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 24px;
        padding: 0px 32px;

        @media (max-width: 992px) {
            font-size: 15px;
            line-height: 18px;
        }

        @media (max-width: 768px) {
            padding: 0px 15px;
        }
    }

    &__content {
        overflow: auto;
        max-height: calc(100vh - 300px);
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 10px 32px;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @media (max-width: 992px) {
            max-height: calc(100vh - 280px);
        }

        @media (max-width: 768px) {
            padding: 10px 15px;
        }
    }
}