@import "@styles/variable.scss";

.search {
    padding: 0px 32px;

    @media (max-width: 768px) {
        padding: 0px 15px;
    }

    &__heading {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: $text-color;
        margin-bottom: 16px;

        @media (max-width: 992px) {
            font-size: 20px;
            line-height: 35px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 24px;

        @media (max-width: 992px) {
            font-size: 15px;
            line-height: 18px;
        }
    }
}